객체 생성

In [6]:
import OpenDartReader
import pandas as pd


api_key = '888e4aca3aba61a62811ba87e0fc054e2d9f6ea0'

dart = OpenDartReader(api_key)

In [11]:
dart.list('크레오에스지', start='2025-01-01', kind='A')

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00346407,크레오에스지,040350,K,반기보고서 (2025.06),20250814002691,크레오에스지,20250814,
1,00346407,크레오에스지,040350,K,[기재정정]사업보고서 (2024.12),20250714000206,크레오에스지,20250714,연
2,00346407,크레오에스지,040350,K,분기보고서 (2025.03),20250515001307,크레오에스지,20250515,

In [ ]:
rcept_no = '20250814002691'
dart.sub_docs(rcept_no)
sub_docs = dart.sub_docs(rcept_no)
detail_sections = sub_docs[sub_docs['title'].str.contains('상세')]

                  title                                                url
44             XII. 상세표  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
45  1. 연결대상 종속회사 현황(상세)  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
46       2. 계열회사 현황(상세)  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
47      3. 타법인출자 현황(상세)  http://dart.fss.or.kr/report/viewer.do?rcpNo=2...

In [19]:
for ix, row in detail_sections.iterrows():
    print(row['title'])
    print(row['url'])

XII. 상세표
http://dart.fss.or.kr/report/viewer.do?rcpNo=20250814002691&dcmNo=10768767&eleId=55&offset=1856368&length=43924&dtd=dart4.xsd
1. 연결대상 종속회사 현황(상세)
http://dart.fss.or.kr/report/viewer.do?rcpNo=20250814002691&dcmNo=10768767&eleId=56&offset=1856521&length=4904&dtd=dart4.xsd
2. 계열회사 현황(상세)
http://dart.fss.or.kr/report/viewer.do?rcpNo=20250814002691&dcmNo=10768767&eleId=57&offset=1861429&length=14854&dtd=dart4.xsd
3. 타법인출자 현황(상세)
http://dart.fss.or.kr/report/viewer.do?rcpNo=20250814002691&dcmNo=10768767&eleId=58&offset=1876287&length=23991&dtd=dart4.xsd